# Vivado 產生的暫存檔和目錄
.cache/
.runs/
.hw/
.sim/
.gen/
.ip_user_files/
.webtalk/
.Xil/
*.jou
*.log
*.str
*.pb
*.wdb
*.tmp
*.backup
*.restore
*.xml
*.rpt
*.dcp
*.xci
*.wdf
*.vds
*.rpx
*.bda
*.bxml
*.bit
*.hwdef
*.tcl
*.ui
*.xdc
*~
